services:
  react-app:
    image: react-app:latest
    container_name: react_cont
    build:
      context: sample-product-reactapp
      dockerfile: Dockerfile
    pull_policy: build
    # environment:
    #   - REACT_APP_API_URL=http://localhost:8080
    # volumes:
    #   - ./sample-product-reactapp:/app
    ports:
      - "3001:80"
    networks:
      - frontend
    # depends_on:
    #   - backend-api
  spring-svc:
    image: spring-app:latest
    container_name: spring_cont_1
    build:
      context: sample-restful-jpa
      dockerfile: dev.Dockerfile
      args:
        - PORT=${APP_PORT:-8080}
    pull_policy: build
    # environment:
    # pull_policy: build
    # volumes:
    #   - image-backup-vol:/app/filestorage/images
    # ports:
    #   - 8080:${APP_PORT:-8080}
    networks:
      - frontend
    # depends_on:
    #   - postgres
  postgres:
    image: postgres:latest
    container_name: postgres_cont
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - frontend
networks:
  frontend:
volumes:
  postgres-data:
